.gif {
  height: 100%;
  position: relative;
  cursor: pointer;
}

.gif a {
  height: 100%;
  text-decoration: none;
  display: block;
  position: relative;
}

.gif h4 {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  font-size: 12px;
  color: #fff;
  margin: 0;
  position: absolute;
}

.gif img {
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

.gif__link img {
  height: inherit;
  object-fit: cover;
}

.gif:nth-child(11n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

.gif:nth-child(8n+1) {
	grid-column-end: span 2;
	grid-row-end: span 2;
}

.gif:nth-child(10n + 3) {
	grid-column: span 2;
	grid-row: span 2;
}

.gif:nth-child(5n + 1) img {
  background-color: var(--cyan);
}
.gif:nth-child(5n + 2) img {
  background-color: var(--yellow);
}
.gif:nth-child(5n + 3) img {
  background-color: var(--orange);
}
.gif:nth-child(5n + 4) img {
  background-color: var(--green);
}
.gif:nth-child(5n + 5) img {
  background-color: var(--purple);
}

.gif:hover:nth-child(5n + 1) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--cyan);
}
.gif:hover:nth-child(5n + 2) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--yellow);
}
.gif:hover:nth-child(5n + 3) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--orange);
}
.gif:hover:nth-child(5n + 4) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--green);
}
.gif:hover:nth-child(5n + 5) {
  box-shadow: 0 0 0 var(--gifShadow-size) var(--purple);
}

.gif:hover:nth-child(5n + 1) h4 {
	background-color: var(--cyan);
	color: black;
}
.gif:hover:nth-child(5n + 2) h4 {
	background-color: var(--yellow);
	color: black;
}
.gif:hover:nth-child(5n + 3) h4 {
	background-color: var(--orange);
	color: white;
}
.gif:hover:nth-child(5n + 4) h4 {
	background-color: var(--green);
	color: black;
}
.gif:hover:nth-child(5n + 5) h4 {
	background-color: var(--purple);
	color: white;
}