:root {
  --darkGreen: #2c6975;
  --green: #68b2a0;
  --lightGreen: #cde0c9;
  --aquousGreen: #e0ecde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer__titleContainer {
  padding: 0.8rem;
  background-color: var(--darkGreen);
  border-radius: 10px;
  border: 1px solid var(--aquousGreen);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.11);
}

.homeContainer__titleContainer--title {
  font-size: 3vw;
  color: transparent;
  background: linear-gradient(
    #fd004c 16.7%,
    #fe9000 16.7%,
    #fe9000 33.4%,
    #fff020 33.4%,
    #fff020 50.1%,
    #3edf4b 50.1%,
    #3edf4b 66.8%,
    #3363ff 66.8%,
    #3363ff 83.5%,
    #b102b7 83.5%
  );
  -webkit-text-stroke: 0.04em #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1em;
  animation: rainbow 30s linear infinite;
}

@keyframes rainbow {
  100% {
    background-position: 0 30rem;
  }
}
