.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer__titleContainer {
  padding: .5rem;
  margin-bottom: .5rem;
}

.homeContainer__titleContainer--title {
  font-size: 3rem;
  color: white;
}

@keyframes rainbow {
  100% {
    background-position: 0 30rem;
  }
}

.flexContainer {
  display: flex;
}