:root {
  --darkGreen: #2c6975;
  --green: #68b2a0;
  --lightGreen: #cde0c9;
  --aquousGreen: #e0ecde;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gifContainerMain {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  grid-auto-rows: auto;
  grid-template-rows: min-content;
  grid-auto-flow: row dense;
  grid-gap: 2px;
  align-items: center;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkGreen);
  border-radius: 10px;
  border: 1px solid var(--aquousGreen);
}

.btnContainer:hover {
  background-color: var(--green);
}

.btnContainer > button {
  font-size: 2rem;
  width: 100%;
  padding: .5rem;
  border: 1px solid var(--aquousGreen);
  color: transparent;
  background: linear-gradient(
    #fd004c 16.7%,
    #fe9000 16.7%,
    #fe9000 33.4%,
    #fff020 33.4%,
    #fff020 50.1%,
    #3edf4b 50.1%,
    #3edf4b 66.8%,
    #3363ff 66.8%,
    #3363ff 83.5%,
    #b102b7 83.5%
  );
  -webkit-text-stroke: 0.04em #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1em;
  animation: rainbow 30s linear infinite;
}

.btnContainer > button:active {
  background: var(--lightGreen);
  color: var(--darkGreen);
}

@keyframes rainbow {
  100% {
    background-position: 0 30rem;
  }
}