:root {
  --darkGreen: #2c6975;
  --green: #68b2a0;
  --lightGreen: #cde0c9;
  --aquousGreen: #e0ecde;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formContainer {
  margin: 1rem;
  padding: .6em;
  border-radius: 5px;
}

.formContainer__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer__form > input {
  padding: .2rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px 0 0 10px;
  background-color: var(--darkGreen);
  border: 1px solid var(--aquousGreen);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.11);
  color: var(--aquousGreen);
}

.formContainer__form > input::placeholder {
  font-size: 1rem;
}

.formContainer__form > input:focus {
  outline: 2px solid var(--green);
}

.formContainer__form--btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer__form--btnContainer > button {
  font-size: 1.5rem;
  padding: .2rem;
  border-radius: 0 10px 10px 0;
  background-color: var(--darkGreen);
  border: 1px solid var(--aquousGreen);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.11);
  color: var(--aquousGreen);
}

.formContainer__form--btnContainer > button:hover {
  background-color: var(--green);
}

.formContainer__form--btnContainer > button:active {
  background: var(--lightGreen);
  color: var(--darkGreen);
}