.formContainer {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: .6em;
  background-color: #18061F;
}

.formContainer__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer__form > input {
  padding: .2rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px 0 0 10px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.11);
  color: black;
}

.formContainer__form > input::placeholder {
  font-size: 1rem;
}

.formContainer__form > input:focus {
  outline: 2px solid var(--cyan);
}

.formContainer__form--btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer__form--btnContainer > button {
  font-size: 1.5rem;
  padding: .2rem;
  border-radius: 0 10px 10px 0;
  background-color: var(--purple);
  border: 1px solid white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.11);
  color: black;
}

.formContainer__form--btnContainer > button:hover {
  background-color: var(--red);
  color: white;
}

.formContainer__form--btnContainer > button:active {
  background: var(--lightRed);
  color: white;
}