.trendingSearchesContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  height: 100%;
  bottom: 1rem;
  width: 40%;
  max-width: 300px;
}

.trendingSearches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.trendingSearches__titleContainer {
  padding: 0.8rem;
  color: white;
  text-align: right;
}

.trendingSearches__listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  background-color: var(--darkGreen);
  border: 1px solid var(--aquousGreen);
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.11);
}

.trendingSearches__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.6rem;
  margin: 1rem;
  text-align: right;
  list-style-position: inside;
}

.trendingSearches__list--li {
  list-style: none;
  margin: .2rem;
  padding: .2rem;
}

.trendingSearches__list--li:nth-child(5n + 1) {
  background-color: var(--yellow);
}

.trendingSearches__list--li:nth-child(5n + 2) {
  background-color: var(--green);
}

.trendingSearches__list--li:nth-child(5n + 3) {
  background-color: var(--cyan);
}

.trendingSearches__list--li:nth-child(5n + 4) {
  background-color: var(--lightOrange);
}

.trendingSearches__list--li:nth-child(5n + 5) {
  background-color: var(--purple);
}

.trendingSearches__list--li:hover:nth-child(5n + 1) {
  box-shadow: 0 0 0 4px var(--yellow);
}

.trendingSearches__list--li:hover:nth-child(5n + 2) {
  box-shadow: 0 0 0 4px var(--green);
}

.trendingSearches__list--li:hover:nth-child(5n + 3) {
  box-shadow: 0 0 0 4px var(--cyan);
}

.trendingSearches__list--li:hover:nth-child(5n + 4) {
  box-shadow: 0 0 0 4px var(--lightOrange);
}

.trendingSearches__list--li:hover:nth-child(5n + 5) {
  box-shadow: 0 0 0 4px var(--purple);
}

.trendingSearches__list--li-link {
  text-decoration: none;
  color: black;
}
