:root {
  --darkGreen: #2c6975;
  --green: #68b2a0;
  --lightGreen: #cde0c9;
  --aquousGreen: #e0ecde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--aquousGreen);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
