:root {
  --red: #c73866;
  --lightRed: #fe676e;
  --orange: #fd8f52;
  --lightOrange: #ffbd71;
  --yellow: #ffdca2;
  --green: #00FF99;
  --cyan: #00CCFF;
  --purple: #9933FF;
  --gifShadow-size: 4px;
  font-family: fantasy;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #18061F;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 1rem;
}

.gifsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}